In [166]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time, json, os, csv, requests

from scipy.stats import linregress
from citipy import citipy
from pprint import pprint

from function.helper import clean_house_data, clean_school_data, clean_crime_data

# Hi Markers, please use your onw API keys to run the script, thank you!
from api_keys import weather_api_key, g_key

# Set source file path
house_data_path = "data_source/Melbourne_housing_FULL.csv"
school_data_path = "data_source/dv309_schoollocations2021.csv"
crime_rate_path = "data_source/Data_Tables_LGA_Criminal_Incidents_Year_Ending_March_2021.xlsx"

# Set output file path
house_file = "data_source/cleaned_source_data/house_cleaned.csv"
school_file = "data_source/cleaned_source_data/school_cleaned.csv"
crime_file = "data_source/cleaned_source_data/crime_cleaned.csv"

AIzaSyCanXUsrF5qM4EvRLhzYslDSVRnSkUtlKA
7e15d1b4aa68f4c4e012ed981850b5ec

In [167]:
house_data = pd.read_csv(house_data_path)
house_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [168]:
column_to_int_list = ["Postcode",
                      "Bathroom",
                      "Car",
                      "Landsize",
                      "BuildingArea",
                      "YearBuilt",
                      "Propertycount",
                      "Rooms"]

cleaned_house_data = clean_house_data(house_data, column_to_int_list)

cleaned_house_data.to_csv(house_file, index = False, encoding = "utf-8")

cleaned_house_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,1,1,202,0,0,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,1,0,156,79,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,2,0,134,150,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,2,1,94,0,0,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,1,2,120,142,2014,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019

In [169]:
school_data = pd.read_csv(school_data_path, encoding = "cp1252")
school_data.head()

,Education_Sector,Entity_Type,SCHOOL_NO,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [170]:
cleaned_school_data = clean_school_data(school_data)

cleaned_school_data.to_csv(school_file, index = False, encoding = "utf-8")

cleaned_school_data.head()

,Education_Sector,Entity_Type,School_Name,School_Type,School_Status,Address,Suburb,State,Postcode,Full_Phone_No,LGA_ID,LGA_Name,Lng,Lat
0,Government,1,Alberton Primary School,Primary,O,21 Thomson Street,Alberton,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,Allansford and District Primary School,Primary,O,Frank Street,Allansford,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,Avoca Primary School,Primary,O,118 Barnett Street,Avoca,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,Avenel Primary School,Primary,O,40 Anderson Street,Avenel,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,Warrandyte Primary School,Primary,O,5-11 Forbes Street,Warrandyte,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [171]:
crime_data = pd.read_excel(crime_rate_path, sheet_name = "Table 03")
crime_data.head()

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2021,March,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,1
1,2021,March,Alpine,3691,Glen Creek,C Drug offences,C30 Drug use and possession,C32 Drug possession,1
2,2021,March,Alpine,3691,Gundowring,C Drug offences,C10 Drug dealing and trafficking,C12 Drug trafficking,1
3,2021,March,Alpine,3691,Gundowring,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1
4,2021,March,Alpine,3691,Kergunyah South,B Property and deception offences,B40 Theft,B49 Other theft,1

In [172]:
cleaned_crime_data = clean_crime_data(crime_data)

cleaned_crime_data.to_csv(crime_file, index = False, encoding = "utf-8")

cleaned_crime_data.head()

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2018,March,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,1
1,2018,March,Alpine,3691,Dederang,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,1
2,2018,March,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1
3,2018,March,Alpine,3691,Dederang,C Drug offences,C10 Drug dealing and trafficking,C12 Drug trafficking,1
4,2018,March,Alpine,3691,Glen Creek,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,2

In [173]:
cleaned_house_data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,1,1,202,0,0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,1,0,156,79,1900,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,2,0,134,150,1900,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,2,1,94,0,0,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,1,2,120,142,2014,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013,1,3,593,0,0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013,2,1,98,104,2018,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013,1,2,220,120,2000,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013,0,0,0,0,0,Maribyrnong City Council,0.00000,0.00000,Western Metropolitan,6543
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013,1,0,250,103,1930,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543

In [174]:
suburbs_price_mean = round(cleaned_house_data.groupby("Suburb").mean()["Price"], 0)
suburbs_price_mean

Suburb
Abbotsford      1033549.0
Aberfeldie      1307193.0
Airport West     751364.0
Albanvale        536056.0
Albert Park     1927651.0
                  ...
Yallambie        820861.0
Yarra Glen       620000.0
Yarraville       991245.0
croydon          730000.0
viewbank         885000.0
Name: Price, Length: 345, dtype: float64

In [175]:
# # Drop un-needed columns from the original data frame
# train_station_df = house_data.loc[:, ["Suburb", "Lattitude", "Longtitude"]]
# train_station_df["Train Station"] = ""
# train_station_df.dropna()

In [176]:
# Drop un-needed columns from the original data frame
train_station_df = house_data.loc[:, ["Suburb"]]
train_station_df["responded name"] = ""
train_station_df["Lat"] = ""
train_station_df["Lng"] = ""
train_station_df["Train Station"] = ""
train_station_df = train_station_df.dropna()
train_station_df = train_station_df.drop_duplicates("Suburb")
train_station_df = train_station_df.reset_index(drop = True)
train_station_df.head(20)

              Suburb responded name Lat Lng Train Station
0         Abbotsford
1       Airport West
2        Albert Park
3         Alphington
4             Altona
5       Altona North
6           Armadale
7         Ascot Vale
8          Ashburton
9            Ashwood
10  Avondale Heights
11         Balaclava
12            Balwyn
13      Balwyn North
14         Bentleigh
15    Bentleigh East
16          Box Hill
17         Braybrook
18          Brighton
19     Brighton East

In [184]:
# Setup Query URL
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

australia = ", melbourne, australia"
for index, suburb in enumerate(train_station_df["Suburb"]):
    fullAddress = suburb + australia
    print(index)
    params = {"key": g_key,
              "address": fullAddress}

    print("suburb: ", suburb)
    responded_json = requests.get(base_url, params).json()
    # print(responded_json)
    
    try:
        location = responded_json["results"][0]["geometry"]["location"]
        
        lat = location["lat"]
        lng = location["lng"]
        train_station_df.loc[[index], "Lat"] = lat
        train_station_df.loc[[index], "Lng"] = lng
      
    except:
        print(f"Data retrieve failure. Skipping city instance...")

train_station_df.head()

0
suburb:  Abbotsford
1
suburb:  Airport West
2
suburb:  Albert Park
3
suburb:  Alphington
4
suburb:  Altona
5
suburb:  Altona North
6
suburb:  Armadale
7
suburb:  Ascot Vale
8
suburb:  Ashburton
9
suburb:  Ashwood
10
suburb:  Avondale Heights
11
suburb:  Balaclava
12
suburb:  Balwyn
13
suburb:  Balwyn North
14
suburb:  Bentleigh
15
suburb:  Bentleigh East
16
suburb:  Box Hill
17
suburb:  Braybrook
18
suburb:  Brighton
19
suburb:  Brighton East
20
suburb:  Brunswick
21
suburb:  Brunswick West
22
suburb:  Bulleen
23
suburb:  Burwood
24
suburb:  Camberwell
25
suburb:  Canterbury
26
suburb:  Carlton North
27
suburb:  Carnegie
28
suburb:  Caulfield
29
suburb:  Caulfield North
30
suburb:  Caulfield South
31
suburb:  Chadstone
32
suburb:  Clifton Hill
33
suburb:  Coburg
34
suburb:  Coburg North
35
suburb:  Collingwood
36
suburb:  Doncaster
37
suburb:  Eaglemont
38
suburb:  Elsternwick
39
suburb:  Elwood
40
suburb:  Essendon
41
suburb:  Essendon North
42
suburb:  Fairfield
43
suburb:  Fitzroy
44
suburb:  Fitzroy North
45
suburb:  Flemington
46
suburb:  Footscray
47
suburb:  Glen Iris
48
suburb:  Glenroy
49
suburb:  Gowanbrae
50
suburb:  Hadfield
51
suburb:  Hampton
52
suburb:  Hampton East
53
suburb:  Hawthorn
54
suburb:  Heidelberg Heights
55
suburb:  Heidelberg West
56
suburb:  Hughesdale
57
suburb:  Ivanhoe
58
suburb:  Kealba
59
suburb:  Keilor East
60
suburb:  Kensington
61
suburb:  Kew
62
suburb:  Kew East
63
suburb:  Kooyong
64
suburb:  Maidstone
65
suburb:  Malvern
66
suburb:  Malvern East
67
suburb:  Maribyrnong
68
suburb:  Melbourne
69
suburb:  Middle Park
70
suburb:  Mont Albert
71
suburb:  Moonee Ponds
72
suburb:  Moorabbin
73
suburb:  Newport
74
suburb:  Niddrie
75
suburb:  North Melbourne
76
suburb:  Northcote
77
suburb:  Oak Park
78
suburb:  Oakleigh South
79
suburb:  Parkville
80
suburb:  Pascoe Vale
81
suburb:  Port Melbourne
82
suburb:  Prahran
83
suburb:  Preston
84
suburb:  Reservoir
85
suburb:  Richmond
86
suburb:  Rosanna
87
suburb:  Seddon
88
suburb:  South Melbourne
89
suburb:  South Yarra
90
suburb:  Southbank
91
suburb:  Spotswood
92
suburb:  St Kilda
93
suburb:  Strathmore
94
suburb:  Sunshine
95
suburb:  Sunshine North
96
suburb:  Sunshine West
97
suburb:  Surrey Hills
98
suburb:  Templestowe Lower
99
suburb:  Thornbury
100
suburb:  Toorak
101
suburb:  Viewbank
102
suburb:  Watsonia
103
suburb:  West Melbourne
104
suburb:  Williamstown
105
suburb:  Williamstown North
106
suburb:  Windsor
107
suburb:  Yallambie
108
suburb:  Yarraville
109
suburb:  Aberfeldie
110
suburb:  Bellfield
111
suburb:  Brunswick East
112
suburb:  Burnley
113
suburb:  Campbellfield
114
suburb:  Carlton
115
suburb:  East Melbourne
116
suburb:  Essendon West
117
suburb:  Fawkner
118
suburb:  Hawthorn East
119
suburb:  Heidelberg
120
suburb:  Ivanhoe East
121
suburb:  Jacana
122
suburb:  Kingsbury
123
suburb:  Kingsville
124
suburb:  Murrumbeena
125
suburb:  Ormond
126
suburb:  West Footscray
127
suburb:  Albion
128
suburb:  Brooklyn
129
suburb:  Glen Huntly
130
suburb:  Oakleigh
131
suburb:  Ripponlea
132
suburb:  Cremorne
133
suburb:  Docklands
134
suburb:  South Kingsville
135
suburb:  Strathmore Heights
136
suburb:  Travancore
137
suburb:  Caulfield East
138
suburb:  Seaholme
139
suburb:  Keilor Park
140
suburb:  Gardenvale
141
suburb:  Princes Hill
142
suburb:  Altona Meadows
143
suburb:  Ardeer
144
suburb:  Attwood
145
suburb:  Bayswater
146
suburb:  Bayswater North
147
suburb:  Beaumaris
148
suburb:  Berwick
149
suburb:  Blackburn
150
suburb:  Blackburn South
151
suburb:  Boronia
152
suburb:  Briar Hill
153
suburb:  Broadmeadows
154
suburb:  Bundoora
155
suburb:  Burnside Heights
156
suburb:  Burwood East
157
suburb:  Cairnlea
158
suburb:  Caroline Springs
159
suburb:  Cheltenham
160
suburb:  Clarinda
161
suburb:  Clayton
162
suburb:  Clyde North
163
suburb:  Craigieburn
164
suburb:  Cranbourne
165
suburb:  Croydon
166
suburb:  Croydon Hills
167
suburb:  Croydon North
168
suburb:  Dandenong
169
suburb:  Dandenong North
170
suburb:  Diamond Creek
171
suburb:  Dingley Village
172
suburb:  Doncaster East
173
suburb:  Donvale
174
suburb:  Doreen
175
suburb:  Edithvale
176
suburb:  Eltham
177
suburb:  Eltham North
178
suburb:  Emerald
179
suburb:  Epping
180
suburb:  Eumemmerring
181
suburb:  Ferntree Gully
182
suburb:  Forest Hill
183
suburb:  Frankston
184
suburb:  Frankston North
185
suburb:  Frankston South
186
suburb:  Gisborne
187
suburb:  Gladstone Park
188
suburb:  Glen Waverley
189
suburb:  Greensborough
190
suburb:  Greenvale
191
suburb:  Hallam
192
suburb:  Healesville
193
suburb:  Heathmont
194
suburb:  Highett
195
suburb:  Hillside
196
suburb:  Hoppers Crossing
197
suburb:  Huntingdale
198
suburb:  Keilor Downs
199
suburb:  Keilor Lodge
200
suburb:  Keysborough
201
suburb:  Kings Park
202
suburb:  Lalor
203
suburb:  Lower Plenty
204
suburb:  Lynbrook
205
suburb:  MacLeod
206
suburb:  Melton
207
suburb:  Melton South
208
suburb:  Melton West
209
suburb:  Mentone
210
suburb:  Mernda
211
suburb:  Mickleham
212
suburb:  Mill Park
213
suburb:  Mitcham
214
suburb:  Montmorency
215
suburb:  Montrose
216
suburb:  Mordialloc
217
suburb:  Mount Waverley
218
suburb:  Mulgrave
219
suburb:  Narre Warren
220
suburb:  Noble Park
221
suburb:  Nunawading
222
suburb:  Oakleigh East
223
suburb:  Parkdale
224
suburb:  Point Cook
225
suburb:  Ringwood
226
suburb:  Ringwood East
227
suburb:  Rockbank
228
suburb:  Rowville
229
suburb:  Roxburgh Park
230
suburb:  Sandringham
231
suburb:  Seabrook
232
suburb:  Seaford
233
suburb:  Skye
234
suburb:  South Morang
235
suburb:  Springvale
236
suburb:  Springvale South
237
suburb:  St Albans
238
suburb:  St Helena
239
suburb:  Sunbury
240
suburb:  Sydenham
241
suburb:  Tarneit
242
suburb:  Taylors Hill
243
suburb:  Taylors Lakes
244
suburb:  Tecoma
245
suburb:  Templestowe
246
suburb:  The Basin
247
suburb:  Thomastown
248
suburb:  Truganina
249
suburb:  Tullamarine
250
suburb:  Vermont
251
suburb:  Vermont South
252
suburb:  Wantirna
253
suburb:  Wantirna South
254
suburb:  Werribee
255
suburb:  Werribee South
256
suburb:  Westmeadows
257
suburb:  Williams Landing
258
suburb:  Wollert
259
suburb:  Wyndham Vale
260
suburb:  Aspendale
261
suburb:  Black Rock
262
suburb:  Blackburn North
263
suburb:  Bonbeach
264
suburb:  Carrum
265
suburb:  Chelsea
266
suburb:  Clayton South
267
suburb:  Dallas
268
suburb:  Delahey
269
suburb:  Doveton
270
suburb:  McKinnon
271
suburb:  Mooroolbark
272
suburb:  Pakenham
273
suburb:  Ringwood North
274
suburb:  Scoresby
275
suburb:  Warrandyte
276
suburb:  Watsonia North
277
suburb:  Wattle Glen
278
suburb:  Wheelers Hill
279
suburb:  Albanvale
280
suburb:  Aspendale Gardens
281
suburb:  Belgrave
282
suburb:  Carrum Downs
283
suburb:  Cranbourne East
284
suburb:  Cranbourne North
285
suburb:  Deer Park
286
suburb:  Heatherton
287
suburb:  Kilsyth
288
suburb:  Langwarrin
289
suburb:  Notting Hill
290
suburb:  Patterson Lakes
291
suburb:  Riddells Creek
292
suburb:  Beaconsfield Upper
293
suburb:  Chelsea Heights
294
suburb:  Chirnside Park
295
suburb:  Coolaroo
296
suburb:  Darley
297
suburb:  Hampton Park
298
suburb:  Keilor
299
suburb:  Meadow Heights
300
suburb:  Mount Evelyn
301
suburb:  North Warrandyte
302
suburb:  Sandhurst
303
suburb:  Silvan
304
suburb:  Wallan
305
suburb:  Croydon South
306
suburb:  Derrimut
307
suburb:  Diggers Rest
308
suburb:  Knoxfield
309
suburb:  Upwey
310
suburb:  Warranwood
311
suburb:  Bacchus Marsh
312
suburb:  Bullengarook
313
suburb:  Deepdene
314
suburb:  Hurstbridge
315
suburb:  Kurunjang
316
suburb:  Laverton
317
suburb:  Lilydale
318
suburb:  Wonga Park
319
suburb:  Endeavour Hills
320
suburb:  Officer
321
suburb:  Olinda
322
suburb:  Waterways
323
suburb:  Beaconsfield
324
suburb:  Yarra Glen
325
suburb:  Brookfield
326
suburb:  Lysterfield
327
suburb:  Plenty
328
suburb:  Whittlesea
329
suburb:  Burnside
330
suburb:  New Gisborne
331
suburb:  Guys Hill
332
suburb:  Plumpton
333
suburb:  croydon
334
suburb:  Monbulk
335
suburb:  Avonsleigh
336
suburb:  Wildwood
337
suburb:  Gisborne South
338
suburb:  Research
339
suburb:  viewbank
340
suburb:  Botanic Ridge
341
suburb:  Bulla
342
suburb:  Coldstream
343
suburb:  Hopetoun Park
344
suburb:  Cranbourne West
345
suburb:  Eynesbury
346
suburb:  Fawkner Lot
347
suburb:  Ferny Creek
348
suburb:  Wandin North
349
suburb:  Kalkallo
350
suburb:  Menzies Creek

         Suburb responded name        Lat         Lng Train Station
0    Abbotsford                   -37.803     145.002
1  Airport West                -37.726234  144.881353
2   Albert Park                -37.843861  144.951454
3    Alphington                    -37.78     145.023
4        Altona                -37.863151  144.812022

In [ ]:
suburb

In [179]:
# Base url for Google Places API - Nearby Search
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Set parameters for the API call
params = {"keyword": "station",
          "type": "train_station",
          "key": g_key,
          "radius": 5000,
          "location": "-37.8151,145.1350"}



row = train_station_df.iloc[16]
params["Suburb"] = str(row[1])
response = requests.get(base_url, params)#.json()
jsonStr = response.json()
print(jsonStr)
station_results = response["results"]

# try:
    # suburb = row["Suburb"].upper()
    # print(f"{suburb} station: {station_results[0]['name']}")
    # train_station_df.loc[row, "Train Station"] = station_results[0]['name']

# except (KeyError, IndexError):
#     print(f"No station found for {row['Suburb']} within 5000 meters.")



# # Perform API calls to collect hotel name
# for label, row in train_station_df.iterrows():
    
#     # Insert city coordinates into parameters
#     params["location"] = str(row[1]) + "," + str(row[2])
    
#     # API call
#     response = requests.get(base_url, params).json()
    
#     # Store into results part of dictionary
#     station_results = response["results"]

#     # Print hotel name and add to data frame if hotel is successfully found
#     try:
#         suburb = row["Suburb"].upper()
#         print(f"{suburb} station: {station_results[0]['name']}")
#         train_station_df.loc[row, "Train Station"] = station_results[0]['name']
    
#     # Print error statement if hotels cannot be found
#     except (KeyError, IndexError):
#         print(f"No station found for {row['Suburb']} within 5000 meters.")